In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/task.xlsx', usecols = ['area', 'cluster', 'cluster_name', 'keyword', 'x', 'y', 'count'])
df['color'] =''
df.head()

,area,cluster,cluster_name,keyword,count,x,y,color
0,eligibility,0.0,Кластер 0,several animated buried,1260,5.772342,12.564796257345005,
1,eligibility,0.0,Кластер 0,singles unusual buyers,866,14.829280,7.8507285727125815,
2,eligibility,0.0,Кластер 0,hawaiian directive,163,11.381856,3.8981370219558604,
3,eligibility,0.0,Кластер 0,dynamics directly,1146,9.980149,6.281427914064545,
4,eligibility,1.0,Кластер 1,decision surgeons montreal,823,3.283940,4.39674063521296,

In [3]:
df_new = df.drop_duplicates()
df_new.dropna(inplace=True)
df_new.head()

,area,cluster,cluster_name,keyword,count,x,y,color
0,eligibility,0.0,Кластер 0,several animated buried,1260,5.772342,12.564796257345005,
1,eligibility,0.0,Кластер 0,singles unusual buyers,866,14.829280,7.8507285727125815,
2,eligibility,0.0,Кластер 0,hawaiian directive,163,11.381856,3.8981370219558604,
3,eligibility,0.0,Кластер 0,dynamics directly,1146,9.980149,6.281427914064545,
4,eligibility,1.0,Кластер 1,decision surgeons montreal,823,3.283940,4.39674063521296,

In [4]:
areas = list(df_new.area.unique())
areas[7] = 'ar'
areas

['eligibility',
 'capability',
 'available',
 'protein',
 'winner',
 'locator',
 'worlds',
 'ar',
 'twisted',
 'lithuania',
 'personnel',
 'housewives',
 'dialog',
 'except',
 'greetings']

In [5]:
dict_df = {'eligibility' : 0,
 'capability' :0,
 'available' :0,
 'protein' :0,
 'winner' :0,
 'locator' :0,
 'worlds' :0,
 'ar' :0,
 'twisted' :0,
 'lithuania' :0,
 'personnel' :0,
 'housewives' :0,
 'dialog' :0,
 'except' :0,
 'greetings ' :0}

In [6]:
for key in areas:
    dict_df[key] = df_new[df_new['area'].str.contains(key)]

In [7]:
for key in areas:
    dict_df[key] = dict_df[key].drop_duplicates(subset=['keyword'])
    for i in range(len(dict_df[key])):
        if dict_df[key].iloc[i, 1] == 0:
            dict_df[key].iloc[i, 7] = 'red'
        if dict_df[key].iloc[i, 1] == 1:
            dict_df[key].iloc[i, 7] = 'green'
        if dict_df[key].iloc[i, 1] == 2:
            dict_df[key].iloc[i, 7] = 'yellow'
        if dict_df[key].iloc[i, 1] == 3:
            dict_df[key].iloc[i, 7] = 'blue'

In [8]:
df_results = pd.DataFrame({})

In [9]:
for key in areas:
    df_results = pd.concat([df_results, dict_df[key]])

In [10]:
df_results = df_results.sort_values(by=['area', 'cluster', 'cluster_name', 'count'], ascending = [True, True, True, False])
df_results

,area,cluster,cluster_name,keyword,count,x,y,color
106,ar\vr,0.0,Кластер 0,written conflict fabulous,1443,2.991167,7.106798807182176,red
108,ar\vr,0.0,Кластер 0,reservations linking,751,10.195602,12.259495712252914,red
107,ar\vr,0.0,Кластер 0,interfaces neutral,586,10.443533,13.809914970161072,red
109,ar\vr,0.0,Кластер 0,committees parallel,173,6.735260,3.613982972088637,red
110,ar\vr,1.0,Кластер 1,postcards looked republic detector,1397,10.474474,6.220011967033064,green
...,...,...,...,...,...,...,...,...
100,worlds,2.0,Кластер 2,ringtone parental,471,11.723895,4.363994491947961,yellow
102,worlds,2.0,Кластер 2,recipient traffic,236,5.593629,0.5533676310113189,yellow
105,worlds,3.0,Кластер 3,immunology plates,1653,2.407028,7.65152738334079,blue
103,worlds,3.0,Кластер 3,holdings herbal,1476,3.986508,10.906339823131932,blue
104,worlds,3.0,Кластер 3,exchanges castle,1097,8.082231,6.587932953846258,blue

In [11]:
df_results.to_excel('data/result.xlsx')